<?xml version='1.0' encoding='utf-8'?>
    <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <mapping class="se.gokopen.persistence.entity.PatrolEntity" />
        <mapping class="se.gokopen.persistence.entity.ScoreEntity" />
        <mapping class="se.gokopen.persistence.entity.StationEntity" />
        <mapping class="se.gokopen.persistence.entity.TrackEntity" />
        <mapping class="se.gokopen.persistence.entity.ConfigEntity"/>
        <mapping class="se.gokopen.persistence.entity.UserEntity"/>
    </session-factory>	
</hibernate-configuration>